.venv/*
accounts/
thumbnails/
rclone/
tokens/
sabnzbd/
downloads/
tdlib_user/
tdlib_bot/
config.py
token.pickle
rclone.conf
.netrc
log.txt
cfg.zip
MediaInfo/*
Images/*
list_drives.txt
shorteners.txt
cookies.txt
*.session
