asyncio
aiohttp
aiofiles
aioshutil
anytree==2.8.0
apscheduler
aioaria2
aioqbt
beautifulsoup4
bencoding
cinemagoer
cloudscraper
config
dnspython
electrogram
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
langcodes
lxml
motor
mutagen
markdown
natsort
pillow
psutil
pybase64
pycountry
python-dotenv
pyshorteners
python-magic
pytz
requests
speedtest-cli
telegraph
tenacity
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
