asyncio
aiofiles
aioshutil
anytree
apscheduler
aioaria2
aioqbt
cloudscraper
dnspython
ElectroCrypto
kurigram
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
langcodes
lxml
natsort
pillow
psutil
pymongo
pyshorteners
python-magic
pytz
pytdbot[tdjson]
requests
speedtest-cli
telegraph
tenacity
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
